---
import Card from "@/components/Card";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import TagNav from "@/components/TagNav.astro";

const all = await getCollection("blog");

const posts: CollectionEntry<"blog">[] =
  all.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const tagSet = new Set<string>();
for (const p of all) (p.data.tags ?? []).forEach((t:string) => tagSet.add(t));

const order = ["ALL", "Dev", "Frontend", "Database", "Article", "회고", "프로젝트"] as const;
const displayTags = ["ALL", ...order.slice(1).filter((t) => tagSet.has(t))];

const pageTitle = "ALL";
---

<BaseLayout pageTitle={pageTitle}>
  <span class="flex text-[14px] justify-center text-zinc-500">{posts.length}개의 글</span>
  <TagNav displayTags={displayTags} pageTitle={pageTitle} />

  {posts.length === 0 && (
    <p class="text-zinc-500">
      작성된 글이 없습니다.
    </p>
  )}

  <ul>
    {posts.map((post, i) => (
      <Card client:visible post={post} priority={i < 3} />
    ))}
  </ul>
</BaseLayout>
